<div class="p-8 rounded-md mainBackground border-b border-gray-700 mx-auto">
  <!-- post user section -->
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-x-3">
      <!-- profile pic -->
      <div>
        <a
          class="hover:text-violet-400 transition-all duration-200"
          title="My Profile"
          routerLink="/main/profile"
        >
          <img
            loading="lazy"
            *ngIf="!user?.attributes?.image"
            src="https://sisksaapp.aou.edu.kw/AOUSISPLS/images/flag-8.png"
            alt=""
          />
          <img
            loading="lazy"
            class="w-16 h-16 rounded-full"
            *ngIf="user?.attributes?.image"
            [src]="url + user?.attributes?.image"
            alt=""
          />
        </a>
      </div>
      <!-- profile info -->

      <div>
        <a
          class="hover:text-violet-400 hover:cursor-pointer transition-all duration-200"
          title="My Profile"
          (click)="goToProfile()"
          ><h2 class="font-medium text-xl select-none">
            {{ post?.attributes?.username?.data?.attributes?.name }}
          </h2></a
        >

        <p class="text-slate-400 mt-1">
          {{ post?.attributes?.createdAt | date : "short" }} .
          {{ post?.attributes?.location }}
        </p>
      </div>
    </div>

    <!-- edit section -->
    <div *ngIf="isMyProfile" class="flex items-center gap-x-3">
      <a title="Update Post" (click)="navigateToPostEdit()">
        <i
          class="fa-solid transition-all duration-100 hover:cursor-pointer hover:text-violet-500 text-violet-300 text-xl fa-pen-to-square"
        ></i>
      </a>
      <a title="Delete Post" (click)="delete()">
        <i
          class="fa-regular duration-100 hover:cursor-pointer hover:text-red-500 text-red-300 text-xl fa-trash-can"
        ></i>
      </a>
    </div>
  </div>

  <!-- content part -->
  <div>
    <a
      class="hover:text-violet-400 hover:cursor-pointer transition-all duration-200"
      (click)="goToPostDetails()"
    >
      <h2 class="font-medium text-lg mt-5 mb-1 roboto-regular">
        {{ post?.attributes?.content }}
      </h2>
    </a>

    <p class="text-slate-400 mt-2">
      <span class="flex items-center gap-x-2">
        <span *ngFor="let elm of post?.attributes?.tags?.split(',')"
          >#{{ elm }}</span
        >
      </span>
    </p>
  </div>

  <!-- image part -->
  <div class="mt-6">
    <img
      loading="lazy"
      class="rounded-2xl"
      [src]="url + post?.attributes?.image"
      alt=""
    />
  </div>

  <div class="flex mt-6 justify-between items-center gap-x-5">
    <a class="heart" (click)="like()">
      <div class="flex items-center gap-x-2">
        <i
          class="fa-regular icon hover:cursor-pointer hover:hover:text-indigo-200 text-indigo-300 text-2xl fa-heart"
        ></i>

        <span *ngIf="!post?.attributes?.likes" class="text-white">0</span>
        <span *ngIf="post?.attributes?.likes" class="text-white">{{
          post?.attributes?.likes
        }}</span>
      </div>
    </a>
    <a class="hover:cursor-pointer" (click)="savePost()">
      <i
        *ngIf="!isSaved"
        class="fa-regular hover:text-indigo-200 text-indigo-300 text-xl fa-bookmark"
      ></i>
      <i
        *ngIf="isSaved"
        class="fa-solid hover:text-indigo-200 text-indigo-300 text-xl fa-bookmark"
      ></i>
    </a>
  </div>
</div>
