.background {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.heart:hover div > .icon {
  color: red;
  cursor: pointer;
}

.show-eye {
  transform: translateY(5rem);
  transition: all ease-in-out 0.3s;
  opacity: 0;
}

.egy-container:hover .show-eye {
  transform: translateY(-2rem);

  opacity: 1;
}
