<!-- explore cart root -->

<!-- <p-dialog
  [draggable]="false"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50vw', height: '70vh', 'background-color': 'balck' }"
>
  <div class="h-full w-full">
    <app-video-player
      *ngIf="isVideo && post?.attributes?.image"
      [videoUrl]="url + post?.attributes?.image"
    ></app-video-player>
  </div>
</p-dialog> -->

<div class="relative egy-container h-[21rem] rounded-3xl">
  <div class="relative h-full rounded-3xl">
    <img
      *ngIf="!isVideo && url + post?.attributes?.image"
      class="absolute w-full h-full rounded-3xl"
      [src]="url + post?.attributes?.image"
      alt=""
    />
    <span *ngIf="isVideo">
      <img
        class="absolute w-full h-full rounded-3xl"
        src="https://img.freepik.com/premium-photo/sad-little-palestinian-child-palestinian-flag-background-stop-war-concept-help-palestine_948175-1946.jpg"
        alt=""
      />
      <img
        class="w-44 absolute left-1/3 top-1/3 drop-shadow-lg"
        src="https://cdn.pixabay.com/animation/2023/06/13/15/13/15-13-09-933_512.gif"
        alt=""
      />
    </span>

    <!-- user info -->
    <div
      class="absolute background z-20 px-10 h-full w-full flex flex-col justify-end pb-4"
    >
      <!-- user flex root -->
      <div
        class="flex flex-col xl:flex-row gap-x-8 gap-y-4 items-center justify-between"
      >
        <!-- user image and name -->
        <div class="flex gap-x-2 items-center">
          <img
            class="w-10 h-10 rounded-full"
            *ngIf="post?.attributes?.username?.data?.attributes?.image"
            [src]="url + post?.attributes?.username?.data?.attributes?.image"
            alt=""
          />
          <img
            class="w-8"
            *ngIf="!post?.attributes?.username?.data?.attributes?.image"
            src="https://sisksaapp.aou.edu.kw/AOUSISPLS/images/flag-8.png"
            alt=""
          />
          <a [routerLink]="['/main/postDetails', post?.id]">
            <p
              class="roboto-regular text-sm transition-all duration-200 hover:cursor-pointer hover:text-violet-400"
            >
              {{ post?.attributes?.username?.data?.attributes?.name }}
            </p>
          </a>
        </div>
        <div *ngIf="myPosts" class="flex items-center gap-x-3">
          <a
            class="absolute flex items-center gap-x-3 left-20 xl:left-14 top-1/2 show-eye"
            [routerLink]="['/main/postDetails', post?.id]"
          >
            <span class="text-sm bg-black px-2 py-1 rounded-lg"
              >Post Details</span
            >
            <i
              class="fa-solid text-[5rem] fa-eye duration-100 hover:cursor-pointer hover:text-indigo-500 text-indigo-300"
            ></i>
          </a>

          <a
            *ngIf="!fromSaved && !isMyLiked"
            title="Update Post"
            (click)="navigateToPostEdit()"
          >
            <i
              class="fa-solid transition-all duration-100 hover:cursor-pointer hover:text-violet-500 text-violet-300 text-xl fa-pen-to-square"
            ></i>
          </a>
          <a title="Delete Post" (click)="delete()">
            <i
              class="fa-regular duration-100 hover:cursor-pointer hover:text-red-500 text-red-300 text-xl fa-trash-can"
            ></i>
          </a>
        </div>
        <!-- heart and saved -->
        <div *ngIf="!myPosts" class="flex items-center gap-x-5">
          <a class="heart" (click)="like()">
            <div class="flex items-center gap-x-2">
              <i class="fa-regular icon text-indigo-300 text-2xl fa-heart"></i>

              <span *ngIf="!post?.attributes?.likes" class="text-white">0</span>
              <span *ngIf="post?.attributes?.likes" class="text-white">{{
                post?.attributes?.likes
              }}</span>
            </div>
          </a>
          <a class="hover:cursor-pointer" (click)="savePost()">
            <i
              *ngIf="!isSaved"
              class="fa-regular text-indigo-300 text-xl fa-bookmark"
            ></i>
            <i
              *ngIf="isSaved"
              class="fa-solid text-indigo-300 text-xl fa-bookmark"
            ></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
