<!-- create post section -->

<p-toast></p-toast>
<p-scrollPanel [style]="{ width: '100%', height: '100vh' }">
  <section>
    <!-- create post root -->
    <div class="container mx-auto px-[10%] py-10">
      <!-- header -->
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-x-4">
          <i class="fa-solid text-4xl fa-pen-to-square"></i>
          <h2 class="permanent-marker-regular text-3xl">Edit Post</h2>
        </div>
        <div>
          <a
            class="flex hover:cursor-pointer hover:text-indigo-400 transition-all duration-200 items-center gap-x-4"
            (click)="goBack()"
          >
            <i class="fa-regular text-3xl fa-hand-point-left"></i>
            <p class="text-2xl">Back</p>
          </a>
        </div>
      </div>

      <form [formGroup]="postForm">
        <!-- caption -->
        <div class="mt-14">
          <p class="font-medium capitalize mb-3">caption</p>
          <textarea
            class="bg-neutral-900 rounded-xl pl-5 border-neutral-900 border-x-2 border-y-2 w-full text-white"
            formControlName="content"
            rows="5"
            [autocapitalize]="false"
            pInputTextarea
          ></textarea>
          <div
            class="p-2"
            *ngIf="
              postForm.get('content')?.errors &&
              postForm.get('content')?.touched
            "
          >
            <p
              *ngIf="postForm.get('content')?.getError('required')"
              class="capitalize p-error"
            >
              * caption is required!
            </p>
            <p
              *ngIf="postForm.get('content')?.getError('minlength')"
              class="capitalize p-error"
            >
              * minimum length 5 char
            </p>
            <p
              *ngIf="postForm.get('content')?.getError('maxlength')"
              class="capitalize p-error"
            >
              * maximum length 100 char
            </p>
          </div>
        </div>

        <!-- add photo -->
        <div class="mt-8">
          <p class="font-medium capitalize mb-3">Add Photo</p>

          <!-- upload file  -->
          <div
            class="bg-neutral-900 hover:cur relative flex flex-col items-center justify-center rounded-xl pl-5 border-neutral-900 border-x-2 border-y-2 w-full h-[25rem] text-white"
          >
            <!-- upload continaer -->
            <div class="absolute flex gap-y-8 flex-col">
              <!-- original post image -->
              <img
                class="w-48 h-48"
                *ngIf="post?.attributes?.image && !imageUrl"
                [src]="url + post?.attributes?.image"
                alt=""
              />

              <!-- <img
                class="w-48 h-48"
                *ngIf="imageUrl"
                [src]="url + imageUrl"
                alt=""
              /> -->

              <!-- updated image -->
              <img
                class="w-48 h-48"
                *ngIf="imageUrl"
                [src]="url + imageUrl"
                alt=""
              />

              <div
                *ngIf="!imageUrl && !post?.attributes?.image"
                class="flex items-center gap-x-2"
              >
                <i class="fa-solid relative text-7xl fa-image"></i>
                <i class="fa-solid absolute left-16 text-7xl fa-images"></i>
              </div>
              <p-fileUpload
                styleClass="bg-black border-black"
                mode="basic"
                chooseLabel="Upload Image"
                chooseIcon="pi pi-upload"
                name="demo[]"
                [auto]="true"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                (onUpload)="onFileSelected($event)"
              />
              <!-- <input
                (change)="onFileSelected($event)"
                type="file"
                value="Select from comput"
              /> -->
            </div>

            <div class="relative top-36" *ngIf="loading">
              <p-progressSpinner
                styleClass="w-4rem h-4rem text-zinc-800"
                strokeWidth="8"
                fill="var(--surface-ground)"
                animationDuration=".5s"
              />
            </div>
          </div>

          <!-- add location -->
          <div class="mt-8">
            <p class="font-medium capitalize mb-3">Add Location</p>
            <input
              formControlName="location"
              pInputText
              class="w-full h-14 text-white bg-neutral-900 border-neutral-900"
              type="text"
            />
            <div
              class="p-2"
              *ngIf="
                postForm.get('location')?.errors &&
                postForm.get('location')?.touched
              "
            >
              <p
                *ngIf="postForm.get('location')?.getError('required')"
                class="capitalize p-error"
              >
                * location is required!
              </p>
              <p
                *ngIf="postForm.get('location')?.getError('minlength')"
                class="capitalize p-error"
              >
                * minimum length 5 char
              </p>
              <p
                *ngIf="postForm.get('location')?.getError('maxlength')"
                class="capitalize p-error"
              >
                * maximum length 100 char
              </p>
            </div>
          </div>

          <!-- tag part -->
          <div class="my-10">
            <p class="font-medium capitalize mb-3">
              Add Tags (Separated by comma",")
            </p>
            <input
              formControlName="tags"
              placeholder="Art, Electronics, Computer"
              pInputText
              class="w-full h-14 text-white bg-neutral-900 border-neutral-900"
              type="text"
            />
            <div
              class="p-2"
              *ngIf="
                postForm.get('tags')?.errors && postForm.get('tags')?.touched
              "
            >
              <p
                *ngIf="postForm.get('tags')?.getError('required')"
                class="capitalize p-error"
              >
                * tags is required!
              </p>
              <p
                *ngIf="postForm.get('tags')?.getError('minlength')"
                class="capitalize p-error"
              >
                * minimum length 5 char
              </p>
              <p
                *ngIf="postForm.get('tags')?.getError('maxlength')"
                class="capitalize p-error"
              >
                * maximum length 100 char
              </p>
            </div>
          </div>

          <!-- button part -->
          <div class="flex justify-end mt-4 mb-20">
            <div class="flex items-center gap-x-4">
              <a routerLink="/main">
                <p-button
                  styleClass="bg-neutral-800 h-14 px-6 text-white border-neutral-800 "
                  label="Cancel"
                ></p-button>
              </a>

              <p-button
                (onClick)="createPost()"
                [loading]="loading"
                styleClass=" bg-violet-500 border-violet-500  merriweather-regular"
                label="Edit Post"
              ></p-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</p-scrollPanel>
