<!-- create post section -->

<p-toast></p-toast>
<p-scrollPanel [style]="{ width: '100%', height: '100vh' }">
  <section>
    <!-- create post root -->
    <div class="container mx-auto px-[10%] pt-10 pb-16">
      <!-- header -->
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-x-4">
          <i class="fa-solid text-4xl fa-pen-to-square"></i>
          <h2 class="permanent-marker-regular text-3xl">Edit Profile</h2>
        </div>
        <div>
          <a
            class="flex hover:text-indigo-400 transition-all duration-200 items-center gap-x-4"
            [routerLink]="['/main/profile', userId]"
          >
            <i class="fa-regular text-3xl fa-hand-point-left"></i>
            <p class="text-2xl">Back</p>
          </a>
        </div>
      </div>

      <form class="mt-6" [formGroup]="regForm">
        <!-- user image -->
        <div class="mb-12 mt-14 flex items-center gap-x-8">
          <img
            class="w-32 h-32 shadow-2xl drop-shadow-lg rounded-full"
            *ngIf="imageUrl"
            [src]="url + imageUrl"
            alt=""
          />
          <img
            class="w-32 h-32 shadow-2xl drop-shadow-lg rounded-full"
            *ngIf="user?.attributes?.image && !imageUrl"
            [src]="url + user?.attributes?.image"
            alt=""
          />
          <img
            class="w-36"
            *ngIf="!user?.attributes?.image && !imageUrl"
            src="https://sisksaapp.aou.edu.kw/AOUSISPLS/images/flag-8.png"
            alt=""
          />
          <div>
            <p-fileUpload
              styleClass="bg-black border-zinc-500"
              mode="basic"
              chooseLabel="Change Profile Photo"
              chooseIcon="pi pi-upload"
              name="demo[]"
              [auto]="true"
              url="https://www.primefaces.org/cdn/api/upload.php"
              accept="image/*"
              [maxFileSize]="100000000"
              (onUpload)="onFileSelected($event)"
            >
            </p-fileUpload>

            <!-- <input
              (change)="onFileSelected($event)"
              type="file"
              value="Select from comput"
            /> -->
          </div>
          <div *ngIf="loading">
            <p-progressSpinner
              styleClass="w-4rem h-4rem text-zinc-800"
              strokeWidth="8"
              fill="var(--surface-ground)"
              animationDuration=".5s"
            />
          </div>
        </div>

        <!-- name part -->
        <div>
          <p class="mb-3 merriweather-regular">Name</p>
          <input
            pInputText
            class="w-full bg-zinc-800 h-14 text-white rounded-md border-zinc-800"
            id="name"
            formControlName="name"
            type="text"
          />
        </div>

        <!-- username part -->
        <div class="mt-10">
          <p class="mb-3 merriweather-regular">Username</p>
          <input
            pInputText
            class="w-full bg-zinc-900 h-14 text-white rounded-md border-zinc-800"
            id="Username"
            formControlName="username"
            type="text"
          />
        </div>

        <!-- email part -->
        <div class="mt-10">
          <p class="mb-3 merriweather-regular">Email</p>
          <input
            pInputText
            class="w-full bg-zinc-900 h-14 text-white rounded-md border-zinc-800"
            id="email"
            formControlName="email"
            type="email"
          />
        </div>

        <div class="mt-10">
          <p class="font-medium capitalize mb-3">Bio</p>
          <textarea
            class="bg-neutral-900 rounded-xl pl-5 border-neutral-900 border-x-2 border-y-2 w-full text-white"
            formControlName="bio"
            rows="5"
            [autocapitalize]="false"
            pInputTextarea
          ></textarea>
          <div
            class="p-2"
            *ngIf="regForm.get('bio')?.errors && regForm.get('bio')?.touched"
          >
            <p
              *ngIf="regForm.get('bio')?.getError('required')"
              class="capitalize p-error"
            >
              * bio is required!
            </p>
            <p
              *ngIf="regForm.get('bio')?.getError('minlength')"
              class="capitalize p-error"
            >
              * minimum length 5 char
            </p>
            <p
              *ngIf="regForm.get('bio')?.getError('maxlength')"
              class="capitalize p-error"
            >
              * maximum length 100 char
            </p>
          </div>
        </div>
        <!-- button part -->
        <div class="flex justify-end mt-8 mb-20">
          <div class="flex items-center gap-x-4">
            <a routerLink="/main">
              <p-button
                styleClass="bg-neutral-800 h-14 px-6 text-white border-neutral-800 "
                label="Cancel"
              ></p-button>
            </a>

            <p-button
              [loading]="loading"
              (onClick)="editProfile()"
              [loading]="loading"
              styleClass=" bg-violet-500 border-violet-500  merriweather-regular"
              label="Update Profile"
            ></p-button>
          </div>
        </div>
      </form>
    </div>
  </section>
</p-scrollPanel>
