<p-dialog
  header="Followe"
  [modal]="true"
  [(visible)]="visible"
  [draggable]="false"
  [style]="{ width: '23rem', height: '22rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div *ngIf="follower.length == 0">No user</div>

  <!-- profile -->
  <div
    *ngFor="let user of follower"
    class="flex my-1 py-3 items-center gap-x-1 transition-all duration-200 hover:bg-gray-50"
  >
    <!-- profile pic -->
    <div class="w-14">
      <a
        (click)="visible = false"
        class="hover:text-violet-400 transition-all duration-200"
        title="My Profile"
        [routerLink]="['/main/profile', user.id]"
      >
        <img
          class="w-12 h-12 rounded-full"
          *ngIf="user?.attributes?.image"
          [src]="url + user?.attributes?.image"
          alt=""
        />
        <img
          class="w-10 h-10 rounded-full"
          *ngIf="!user?.attributes?.image"
          src="https://sisksaapp.aou.edu.kw/AOUSISPLS/images/flag-8.png"
          alt=""
        />
      </a>
    </div>
    <!-- profile info -->

    <div>
      <a
        (click)="visible = false"
        class="hover:text-violet-400 transition-all duration-200"
        title="My Profile"
        [routerLink]="['/main/profile', user.id]"
      >
        <h2 *ngIf="!user" class="font-medium text-lg">Faizan</h2>
        <h2 *ngIf="user?.attributes?.name" class="font-medium text-lg">
          {{ user?.attributes?.name }}
        </h2>
      </a>

      <p *ngIf="!user" class="text-slate-400">@fizan</p>
      <p *ngIf="user?.attributes?.username" class="text-slate-400">
        @{{ user?.attributes?.username }}
      </p>
    </div>
  </div>
</p-dialog>
